#
# Ci-dessous les variables pour configurer les conteneurs docker des microwebservices
# Marche à suivre:
#   il faut copier ce fichier dans un fichier .env
#   avant de démarrer l'application avec docker-compose up
#

# Port réseau pour les serveurs web
# du système de cache varnish et des microwebservice sans le cache
# (a noter que MICROWEBSERVICE_HTTP_PORT ne devrait pas être utilisé à terme
# mais permet surtout de tester que tout fonctionne)
MICROWEBSERVICE_HTTP_PORT=12080
MICROWEBSERVICE_VARNISH_HTTP_PORT=12081

# Cache Varnish
# par défaut, la taille du fichier de cache est réglé sur 5G
# en production il faut viser 50G mais pour cela il faut
# prévoir l'espace disque adéquoit
MICROWEBSERVICE_CACHE_SIZE=5G

# Le chauffeur de cache de BACON
# par défaut on ne chauffe que les 5 premières URL
# on peut mettre 0 ce qui permet de chauffer toutes les URL de BACON
BACON_MAX_URL_TO_WARM=5
BACON_DELAY_BETWEEN_WARM=0
BACON_RSS_URL=https://bacon.abes.fr/rss
BACON_CACHEWARMER_CRON=0 3 * * *
BACON_CACHEWARMER_RUN_AT_STARTUP=yes
BACON_CACHEWARMER_JUST_ONCE=no